html {
    box-sizing: border-box;
    font-size: 10px;
}

html,
body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}